APP_NAME=DataDemolisher API
ENV=development
DATABASE_URL=postgresql+psycopg://scout:scout@postgres:5432/datademolisher
REDIS_URL=redis://redis:6379/0
TBA_API_KEY=
STATBOTICS_BASE_URL=https://api.statbotics.io/v3
TBA_BASE_URL=https://www.thebluealliance.com/api/v3
